
<html lang="en" class="h-100">
{% extends 'admin/base/base.html' %}
{% load static %}
{% block body %} 

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
                                        <h2 style="color:white">Admin EcomApp</h2>
										<!-- <a href="index.html"><img src="images/logo-full.png" alt=""></a> -->
									</div>
                                    <h4 class="text-center mb-4 text-white">Enter New password here</h4>
                                    <form method="POST" id="passwordform">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="text-white"><strong> New Password</strong></label>
                                            <input type="password"  data-rule-required ="true" name="new_password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="text-white"><strong> Confirm new passward</strong></label>
                                            <input type="password" data-rule-required ="true" name="cnf_new_password" class="form-control">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" onclick="sendMessage()" class="btn bg-white text-primary btn-block">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>  
    function sendMessage(){
        if(!$('#passwordform').valid()){
            return ;
        } 
    }
    
</script> 
{% endblock body %}
</html>